@import url('https://fonts.cdnfonts.com/css/8bit-wonder');

.btn {
    width: 200px;
    margin: auto;
    display: inline;
}

.btn-lg {
	display: block;
    height: 50px;
    width: 450px;
    line-height: 40px;
    text-align: center;
    background: #6c757d;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 80px;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 5px;
    font-family: 'FreeMono', monospace;
}

.btn-lg:hover{
	background-color: mediumpurple;
	color: white;
	border-color:white;
}

.howto {
    margin: 0 auto;
    margin-top: 80px;
    width: 90%;
    height: 800px;
    border-radius: 35px;
    background: rgb(255, 255, 255, 0.9);
}

h2 {
    text-align: center;
    font-size: 60px;
    font-family: 'FreeMono', monospace;
    border-bottom: 1px solid black;
    letter-spacing: 8px;
}

.try {
    display: block;
    height: 50px;
    width: 250px;
    line-height: 40px;
    text-align: center;
    background: #6c757d;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 5px;
    font-family: 'FreeMono', monospace;
    margin: auto;
    margin-top: -20px;
}

.try:hover{
	background-color: mediumpurple;
	color: white;
	border-color:white;
}

.webcam {
    width: 500px;
    height: 400px;
    border: 2px solid black;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
video {
    width: 500px;
    height: 400px;
    object-fit: cover;
}
