{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"  type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/HomeStyle.css' %}"  type="text/css"/>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class = "container">
        <div></div>
        <p class ="title">FingerPaint.io</p>
        <button class="btn home-btn btn-success" >Create Lobby</button><br/><br/>
        <button class="btn home-btn btn-success">Join Lobby</button> <br/><br/>
        <button class="btn home-btn btn-success" onclick="onClickPlayGame()">How To Play</button> <br/><br/>
        <button class="btn home-btn btn-success" onclick="onClickSetting()">Settings</button>
    </div>
    <div id="playModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="onClickPlayModal()">&times;</span>
          <h2 style = "text-align: center;">How to play the Game</h2>
          <span>
            Users can type in chat, which is visible to everyone, to guess what is being drawn
          </span>
          <span>
            Users webcam will be captured and displayed on the screen
          </span>
          <span>
            User drawing can draw with fingers on screen from webcam
          </span>
        </div>
    </div>

    <div id="settingModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="onClickSettingModal()">&times;</span>
          <h2 style = "text-align: center;">Setting</h2>
          <button class="btn home-btn btn-success" style = "margin:auto; width:80%">
            Test Web Cam
          </button><br>
          <button  class="btn home-btn btn-success" style = "margin:auto; width:80%">
            Later Feature 1
          </button><br>
          <button  class="btn home-btn btn-success" style = "margin:auto; width:80%">
            Later Feature 2
          </button>          
        </div>
    </div>    

</body>
<script>
    function onClickPlayGame() {
        var modal = document.getElementById("playModal");
        modal.style.display = "block";
    }
    function onClickPlayModal() {
        var modal = document.getElementById("playModal");
        modal.style.display = "none";
    }    
    function onClickSetting() {
        var modal = document.getElementById("settingModal");
        modal.style.display = "block";
    }
    function onClickSettingModal() {
        var modal = document.getElementById("settingModal");
        modal.style.display = "none";
    }        
</script>
</html>
