{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"  type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/HomeStyle.css' %}"  type="text/css"/>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/homepage.js' %}"></script>
</head>

<body>
<article class="index-intro">
    <div class="banner">
        <div class="jumbotron">
            <img class="logo" src="{% static 'images/logo_final_1.jpg' %}"/>
            <h1 class="name">Fingerpainter</h1>
        </div>

    </div>
</article>


    <div class = "container">
        <div>
            <input type="text" id="room-name">
        </div>

        <button class="btn home-btn btn-success" id="create_room">Create Room</button><br/><br/>
        <button class="btn home-btn btn-success" >Join Room</button> <br/><br/>
        <!--<button class="btn home-btn btn-success" onclick="onClickPlayGame()">How To Play</button> <br/><br/>
        <button class="btn home-btn btn-success" onclick="onClickSetting()">Settings</button> -->


        <div class="howto">
            <div class="text-back">
                <h2>How-to-Play</h2>
                <p>
                    The users in the lobby will be randomly assorted which will be used to determine the order in which they go. 
                </p>
                <p>
                    The user that goes first will be prompted 3 different things to draw which they can choose from. 
                </p>
                <p>
                    Once chosen, the word will show up on their screen and no one else and their camera will be displayed on the page for everyone to see, this is where they can begin to draw using their hands and a timer will begin. 
                </p>
                <p>
                    For the other players, they must guess which will be possible with a chat in which they will type out the word they believe is being drawn. 
                </p>
                <p>
                    If it is guessed correctly, the user that guessed it first will be awarded the most points which will be determined by the amount of time it took, the others however will still be able to guess due to the correct word being hidden upon being entered, they will be awarded points the same way if they guess it correctly or the time will run out and the word will be revealed to them as well as everyone's current score. 
                </p>
                <p>
                    Then, the game will continue as it started with everyone taking turns drawing and guessing for a series of rounds with the winner being shown at the end.
                </p>
            </div>
        </div>

        <button class="btn test btn-success" onclick="onClickVideo()">Test It Out</button>
        <br />
    </div>
    <!--
    <div id="playModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="onClickVideoModal()">&times;</span>
          <h2 style = "text-align: center;">How to play the Game</h2>
          <span>
            Users can type in chat, which is visible to everyone, to guess what is being drawn
          </span>
          <span>
            Users webcam will be captured and displayed on the screen
          </span>
          <span>
            User drawing can draw with fingers on screen from webcam
          </span>
        </div>
    </div>
    -->
    <div id="videoModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="onClickVideoModal()">&times;</span>
          <div class = "webcam">
              <video id="vid"></video>
          </div>
        </div>
    </div>    

</body>
<script>
    function onClickVideo() {
        var modal = document.getElementById("videoModal");
        modal.style.display = "block";
    }
    function onClickVideoModal() {
        var modal = document.getElementById("videoModal");
        modal.style.display = "none";
    }
</script>
</html>
