{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
    <link href="https://fonts.cdnfonts.com/css/8bit-wonder" rel="stylesheet">
</head>
<body>
    <style>@import url('https://fonts.cdnfonts.com/css/8bit-wonder');</style>
    <div class="container">
        <div class="banner">
            <div class="banner-text">
                <h1>finger</h1>
                <h1>painter</h1>
                <img src="{% static 'images/logo_final_1.jpg' %}"/>
            </div>
        </div>
    </div>



    <div class="box">
        <h2>Login</h2>
        <form action="/" method="post">
            {% csrf_token %}

            <p>Username</p>
            <input type="text" name="username">
            <p>Password</p>
            <input type="password" name="password">

            <input class="btn btn-warning btn-lg loginbtn" type="submit" name="signin" value = "Sign In">
            <input class="btn btn-warning btn-lg signupbtn" type="submit" name="signup" value = "Sign Up">
        </form>
        <input class="btn btn-warning btn-lg forgotbtn" type="submit" name="forgot" value = "Forgot Password" onclick="location.href = 'password/'">
        {{ message }}
    </div>


</body>
</html>