{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/Style.css' %}"  type="text/css"/>
</head>
<body>
    <section class="header">
        <h1>fingerpaint.io</h1>
    </section>

    <div class="login">
        <h2>Login</h2>

        <form action="/" method="post">
            {% csrf_token %}

            <table class="loginTable">
                <tr>
                    <td>Username: </td>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td><input type="text" name="password"></td>
                </tr>
            </table>
            <div class="center">
                <button class="btn btn-warning btn-lg loginbtn" type="submit">LOGIN</button>
            </div>
        </form>
        {{ message }}
    </div>
</body>
</html>