{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
</head>

<body>
    <div class="container">
        <div class="banner">
            <div class="banner-text">
                <img src="{% static 'images/logo_final_1.jpg' %}"/>
                <h1>finger<br>painter</h1>
            </div>
        </div>
    </div>

    <div class="box">
        <h2>Login</h2>
        <form action="/" method="post">
            {% csrf_token %}

            <p>Username</p>
            <input type="text" name="username">
            <p>Password</p>
            <input type="password" name="password">

            <button class="btn btn-warning btn-lg loginbtn" type="submit">sign in</button>
        </form>
        {{ message }}
    </div>
</body>
</html>