<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Change Password</h2>
        <form action="" method="post">
            {% csrf_token %}

            <p>Username</p>
            <input type="text" name="username">
            <p>Password</p>
            <input type="text" name="password">

            <input class="btn btn-warning btn-lg loginbtn" type="submit" name="signin" value = "Change Password">
        </form>
</body>
</html>